<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\KompMaster\source\repos\ConsoleApp19\ConsoleApp19\Database1.mdf;Integrated Security=True"/>
		</connectionStrings>
</configuration>